# Temp file (DELETE THESE)
/Ahri
/Aatrox
final_train_test_val_dataset/

# Ignore directories
# data
data/
runs/
results/
output/
Ahri_Academia___Previsualizaci_n___League_of_Legends_frames/
models/
# environment
venv/
__pycache__/
ultralyticsplus/

# Ignore specific files
*.txt
*.blend
*.blend1
*.glb
*.pt
*.yaml
*.ipynb
*.mkv
*.jpg
*json
*png