# Ignore directories
images/
labels/
models/
venv/
.venv/
__pycache__/
ultralyticsplus/
test/
train/
val/
valid/
val2/
train2/
test2/
runs/
results/
Ahri_Academia___Previsualizaci_n___League_of_Legends_frames/
# Ignore specific files
ahri_example.blend
notes.txt
*.glb
*.pt
listing.txt
dataset.yaml
data.yaml
*.ipynb
*.mkv
*.jpg